body {
	background: #7d7d7d;;
} 
  .btt{
	margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
}
  
.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
	margin-bottom: 35px;
	
  }
  
  .button {
	min-width: 300px;
	min-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
	}
  
  button::before {
  content: '';
	border-radius: 1000px;
	min-width: calc(300px + 12px);
	min-height: calc(60px + 12px);
	border: 6px solid #00FFCB;
	box-shadow: 0 0 60px rgba(0,255,203,.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
	color: #313133;
	transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
	opacity: 1;
  }
  
  button::after {
	content: '';
	width: 30px; height: 30px;
	border-radius: 100%;
	border: 6px solid #00FFCB;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
	animation: none;
	display: none;
  }
  
  @keyframes ring {
	0% {
	  width: 30px;
	  height: 30px;
	  opacity: 1;
	}
	100% {
	  width: 300px;
	  height: 300px;
	  opacity: 0;
	}
  }
  
  
  #defaultCanvas0{

    margin-left:540px;
	margin-left: 540px;
    border: 2px solid #d8d8d8;
    border-radius: 20px;
}

#defaultCanvas0:hover
{
        box-shadow:
                1px 1px #313131,
                2px 2px #313131,
                3px 3px #313131,
				3px 3px #313131;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}


  .waviy {
	position: relative;
	display: flex;
	-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
	justify-content: center;
	margin-bottom: 35px;
	margin-top: 35px;
  }
  .waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #3c3c3c;
	text-transform: uppercase;
	animation: waviy 1s infinite;
	animation-delay: calc(.1s * var(--i))
  }
  @keyframes waviy {
	0%,40%,100% {
	  transform: translateY(0)
	}
	20% {
	  transform: translateY(-20px)
	}
  }